body {
    background-color:black;
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 1200px;
    margin: auto;
    background-color:lightgray;
    padding: 10px;
    overflow: hidden;
}

#header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    background-color: red;
    color: white;
    position: relative;
} 

#main {
    margin-top: 8px;
    float: left;
}

.mainForm {
    width: 300px;
    height: 30px;
    margin: 2px;
    font-size: 17px;
}

h4 {
    margin: 0;
    padding: 0;
}

.bottomButtons {
    width: 70px;
    height: 30px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 52px;
    margin-bottom: 10px;
    border-radius: 8%;
}

#save {
    background-color: green;
}
#clear {
    background-color: cyan;
}

.result-item {
    height: 300px;
    width: 400px;
    background-color: white;
    float: right;
    border: 1px solid black;
    margin: 10px;
}