/* angular */

.blog {
    background: grey;
    padding: 10px;
    margin: 8px auto;
    color: black;
    border: 1px solid black;
}

.blog h1 {
    color: purple;
    margin: 2px;
}

select {
    font-size: 20px;
}

/* drugi zadatak */
/* body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1100px;
    margin: 20px auto;
    background: lightgrey;
    padding: 10px;
    overflow: hidden;
}

.header {
    background-color: lightblue;
    color: black;
    padding: 15px;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

#todo {
    width: 500px;
}

#main input {
    width: 90%;
    height: 130px;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    margin: 25px;
}

#buttons {
    text-align: center;
}

.add-btn {
    background: green;
    color: white;
    font-size: 20px;
}

.del-btn {
    background: red;
    color: white;
    font-size: 20px;
}

 */


 
/* prvi zadatak */
/* body {
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/de/0f/4b/de0f4bf6e8075312a6eb20ad7044571a.jpg);
}

#wrapper {
    width: 1100px;
    margin: auto;
    background: #ccc;
    padding: 10px;
}

.header {
    background-color: crimson;
    color: #fff;
    padding: 15px;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

#main {
    overflow: hidden;
}

.forma {
    width: 500px;
    float: left;
}

.forma input, .forma select {
    display: block;
    width: 85%;
    margin: 10px;
    font-size: 22px;
    padding: 5px 10px;
}

.results {
    float: left;
    width: 500px;
}

.result-item {
    float: left;
    width: 40%;
    padding: 15px;
    margin: 7px;
    background: #bbb;
    background: #fff;
    border: 1px solid blueviolet;
}

.result-item h4, .result-item h3 {
    margin: 0;
}
 */
